.add-card {
  background-color: #fff;
  text-align: center;
  width: 300px;
  border-radius: 20px;
  margin: 40px;
}

.header {
  font-family: sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 15px;
  letter-spacing: 2px;
}

.header h2 {
  font-weight: 50;
}

.add__icon {
  border: none;
  outline: 0;
  width: 100px;
  margin: 20px;
}

.city__illustration {
  width: 15rem;
}
