.main_header {
  background-color: #ffffff;
  display:grid;
  width: 100%;
  margin: 0;
  align-items: center;
  font-weight: bold;
}

.main_header h1 {
  display: inline;
  text-transform: uppercase;
  text-align: center;
}

.list_container {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0, #66a6ff 100%);
}
