<div class=main_header>
  <h1>Today</h1>
</div>

<div class="list_container">
  <app-city-weather  [cityName]="city" [addMode]="false" *ngFor="let city of cityList"></app-city-weather>
  <app-add-card></app-add-card>
</div>