.add-city {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_header h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.back__button {
  position: fixed;
  left: 40px;
  top: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 1000px;
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 50px;
  margin: 0 auto;
  position: relative
}

.search-box {
  position: relative;
  border-radius: 3rem;
  padding: 1.3rem;
  border: none;
  outline: 0;
  width: 500px;
  text-transform: uppercase;
  color: #131f69;
  font-size: 1rem;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
}

.search-button {
  position: absolute;
  background-color: #31FEAE;
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  outline: 0;
  border: none;
  right: 29px;
  top: 45px;
}