<div class="add-city">
  <div class=main_header>
    <h1>add new cities</h1>
    <a routerLink="">
      <svg class="back__button" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.494 31.494"
        style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
        <path style="fill:white;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,
        8.047h26.554c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,
        8.032c0.429,0.444,0.429,1.159,0,1.587c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,
        0-1.571L10.273,5.009z" />
      </svg>
    </a>
  </div>

  <div class="wrapper">
    <div class="search">
      <form [formGroup]="cityForm" (ngSubmit)="search()">
        <input class="search-box" type="text" formControlName="cityName" placeholder="city search" />
        <button class="search-button">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30pt" height="30pt"
            viewBox="0 0 30 30" version="1.1">
            <g id="surface4787461">
              <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 13 3 C 7.488281 3 3 7.488281 3 13 C 3 18.511719 7.488281 23 13 23 C 15.398438 23 17.597656 22.148438 
                  19.324219 20.734375 L 25.292969 26.707031 C 25.542969 26.96875 25.917969 27.074219 26.265625 26.980469 C 
                  26.617188 26.890625 26.890625 26.617188 26.980469 26.265625 C 27.074219 25.917969 26.96875 25.542969 26.707031 
                  25.292969 L 20.734375 19.320312 C 22.148438 17.597656 23 15.398438 23 13 C 23 7.488281 18.511719 3 13 3 Z M 13 
                  5 C 17.429688 5 21 8.570312 21 13 C 21 17.429688 17.429688 21 13 21 C 8.570312 21 5 17.429688 5 13 C 5 8.570312
                   8.570312 5 13 5 Z M 13 5 " />
            </g>
          </svg>
        </button>
      </form>
    </div>

    <span class="add-card" *ngIf="city">
      <app-city-weather [city]="city.name" [addMode]="true"></app-city-weather>
    </span>

  </div>
</div>
