  <section class="weather__card" *ngIf="weatherdata" (click)="openDetails()">
    <span class="city-name">{{ weatherdata?.city }}</span>

    <div class="weather-icon__container" [ngSwitch]="true">

      <img class="weather-icon" *ngSwitchCase="weatherdata.condition === 'Clouds'" src="/assets/weathers-icon/Clouds.svg"/>
      

      <img class="weather-icon"  *ngSwitchCase="weatherdata.condition === 'Rain' || weatherdata.condition === 'Drizzle'"
        src="/assets/weathers-icon/Rain.svg"/>
      

      <img class="weather-icon" *ngSwitchCase="weatherdata.condition === 'Storm'" src="/assets/weathers-icon/Storm.svg"/>
      

      <img class="weather-icon"  *ngSwitchCase="weatherdata.condition === 'Sunny' || weatherdata.condition === 'Clear'"
        src="/assets/weathers-icon/Sunny.svg"/>
      

      <img class="weather-icon"  *ngSwitchCase="weatherdata.condition === 'Fog'" src="/assets/weathers-icon/Fog.svg"/>
      
    </div>
    <div class="temperature-text__container">
      <span class="temperature__text">{{ weatherdata.temp | changedegree }}°c</span>
      <span class="weather-condition__text">{{ weatherdata.condition }}</span>
    </div>
    <section class="min-max__container">
      <div class="min__container">
        <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
          <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow" /> </svg>
        <span class="min-temperature__text">{{ weatherdata.minTemp | changedegree }}</span>
        <span class="min__text">Min</span>
      </div>
      <div class="max__container">
        <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
          <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow" /> </svg>
        <span class="max-temperature__text">{{ weatherdata.maxTemp | changedegree }}</span>
        <span class="max__text">Max</span>
      </div>
    </section>
    
    <button class="add-city-btn" *ngIf="addMode" (click)="clickToAdd(city.name)">ADD CITY +</button>

  </section>