.background-detail-city {
  background: linear-gradient(to top, #86dbff 0, #e0c3fc 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.circle-background-detail-city {
  background: linear-gradient(-225deg, #fff 0, #ffe29f 10%, #ffa99f 48%, #ffd1ff 100%);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  width: 50rem;
  height: 50rem;
}

.back__button {
  position: fixed;
  left: 40px;
  top: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  padding: 8px;
}

.detail-city-card {
  border-radius: 1rem;
  background-color: #fff;
  width: 80%;
  margin: 10rem auto;
  z-index: 1;
  overflow: hidden;
}

.detail-city-card-header {
  background: linear-gradient(to bottom, rgba(104, 103, 172, 1) 0%, rgba(254, 186, 186, 1) 100%);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.today-weather-info {
  width: 50%;
  text-align: center;
  margin-top: 5rem;

  .temp-container {
    display: flex;
    flex-direction: column;

    .temprature {
      font-size: 4.5rem;
      font-weight: 400;
      padding: 1rem;
    }

    .weather-condition {
      text-transform: uppercase;
      letter-spacing: .5rem;
      font-size: 1rem;
    }
  }

  .list-of-condition-conteiner {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;

    .item-container {
      display: flex;
      flex-direction: column;

      .item-text {
        text-transform: uppercase;
        font-size: 0.5rem;
        letter-spacing: .2rem;
      }

      .item-value {
        font-size: 0.7rem;
        padding-top: .5rem;
      }
    }

    .vertical-line {
      margin: 0 1.2rem;
      width: .1rem;
      height: 2rem;
      background-color: #fff;
    }

  }
}

.city-card-name {
  width: 50%;
  text-align: center;
  margin-top: 5rem;

  p {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 60px;
    letter-spacing: .3rem;
  }

  p:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    height: .2rem;
    width: 7rem;
    background-color: #fff;
  }
}

.detail-city-card-footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;

  .twitter-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    .twitter-nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .twitter-icon {
        width: 20px;
      }

      p {
        margin: 0;
      }
    }

    .tweets {
      text-align: center;
      padding: 10px;
    }
  }

  .weather-forecast {
    width: 50%;
    display: flex;
    justify-content: space-around;

    .day-weather-conteiner {
      display: flex;
      flex-direction: column;
      text-align: center;

      .day-name {
        font-weight: 500;
      }

      .weather-condition-img {
        width: 70px;
        padding: 5px;
      }

      .day-weather-condition {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 10px;
      }
    }

  }
}
