<div class="background-detail-city">
  <div class="circle-background-detail-city"></div>
  <div class="back-btn">
    <a routerLink="">
      <svg class="back__button" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.494 31.494"
        style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
        <path style="fill:white;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,
    8.047h26.554c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,
    8.032c0.429,0.444,0.429,1.159,0,1.587c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,
    0-1.571L10.273,5.009z" />
      </svg>
    </a>
    <p>BACK</p>
  </div>

  <div class="detail-city-card">
    <div class="detail-city-card-header" *ngIf="weatherInfo">
      <div class="today-weather-info">
        <div class="temp-container">
          <span class="temprature">{{ weatherInfo.temp | changedegree }}°</span>
          <span class="weather-condition">{{ weatherInfo.condition }}</span>
        </div>
        <div class="list-of-condition-conteiner">
          <div class="item-container">
            <span class="item-text">humidity</span>
            <span class="item-value">{{ weatherInfo.humidity }}%</span>
          </div>
          <div class="vertical-line"></div>
          <div class="item-container">
            <span class="item-text">wind</span>
            <span class="item-value">{{ weatherInfo.wind }}K/M</span>
          </div>
        </div>
      </div>
      <div class="city-card-name">
        <p>{{ weatherInfo.city }}</p>
      </div>
    </div>

    <div class="detail-city-card-footer" *ngIf="weatherInfo">
      <div class="twitter-container">
        <div class="twitter-nav-container">
          <img src="/assets/twitter.svg" alt="twitter-icon" class="twitter-icon">
          <p>Twitter Feed</p>
          <a href="#">#{{weatherInfo.city}}</a>
        </div>
        <div class="tweets">
          <p>No Tweets Found.</p>
        </div>
      </div>
      <div class="weather-forecast">
        <div class="day-weather-conteiner" [ngSwitch]="true" *ngFor="let day of days ;index as i">
          <div class="day-name">{{ day }}</div>
          <div>
            <img class="weather-condition-img" *ngSwitchCase="everyDayCondition[i] === 'Rain' || weatherInfo.condition === 'Drizzle'"
              src="/assets/weathers-icon/Rain.svg">

            <img class="weather-condition-img" *ngSwitchCase="everyDayCondition[i] === 'Clouds' || weatherInfo.condition === 'Clouds'"
              src="/assets/weathers-icon/Clouds.svg">

            <img class="weather-condition-img" *ngSwitchCase="everyDayCondition[i] === 'Sunny' || weatherInfo.condition === 'Clear'"
              src="/assets/weathers-icon/Sunny.svg">

            <img class="weather-condition-img" *ngSwitchCase="everyDayCondition[i] === 'Fog' || weatherInfo.condition === 'Fog'"
              src="/assets/weathers-icon/Fog.svg">

            <img class="weather-condition-img" *ngSwitchCase="everyDayCondition[i] === 'Storm' || weatherInfo.condition === 'Storm'"
              src="/assets/weathers-icon/Storm.svg">

          </div>
          <div class="day-weather-condition">{{ everyDayCondition[i] }}</div>
          <div class="day-temprature">{{ everyDayTemp[i] }}°</div>
        </div>
      </div>
    </div>

  </div>
</div>
